.arriba {
    color: white;
    display: flex;
    flex-direction: column;
}


.imgDetail {
    height: 15.62rem;
    width: 25rem;
    align-self: center;
    border-radius: 1.25rem;
    margin-top: 1.25rem;
}

.detail {
    display: flex;
    flex-direction: column;
}

.titleGame {
    align-self: center;
}

.pContainer {
    display: flex;
    flex-direction: column;
    margin-left: 1.25rem;
    font-size: 0.93rem;
}



.descriptionGame {
    margin: 1.25rem;
}