
.creat{
	display: flex;
	height: 28.43rem;
	display: flex;
	flex-direction: column;
}

.desc{
	font-size: 1.25rem;
	width: 41.87rem;
	margin-left: 0.5rem;
}
/* .asdd{
	display: flex;
	align-items: row;
	font-size: 22px;
	height: 11.25rem;
	width: 550px;
} */

/* 
.rimgl{
	width: 100px;
	height: 10.62rem

} */

.contForm{
	display: flex;
	/*flex-direction: column;*/
	justify-content: space-around;
    background-size: auto;
	/* align-items: center; */
	/* height: 600px; */
	margin-top: 3.12rem;
	margin-left: 0.62rem;
}

.form{
	margin-top: 0.62rem;
	width: 24.06rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	background-color: black;
	padding: 1.25rem;
	border-radius: 0.93rem;
	margin: auto;
}

.inpputs{
	margin-top: 0.62rem;
	width: 20.75rem;
	font-size: 0.93rem
}
.selects{
	display: flex;
	margin-top: 0.62rem;
	width: 21.25rem;
    font-size: 0.93rem;
}

.cract{
	margin-top: 0.93rem;
	background-color: transparent;
	border-color: white;
	color: white;
	font-size: 1.56rem
}

.cract:hover{
	background-color: white;
	color: black;
}


.textCreate {
    color: white;
    font-size: 1.56rem;
}

.asdd {
    color: white;
    font-size: 1.56rem;
    margin-left: 0,5rem;
}

.ALL{
	display: flex;
	margin-top: 1.25rem;
	flex-direction: column;
	
}

.labelText{
	font-size: 0.81rem;
	color: white;
}

.textPlatforms {
	color: white;
	font-weight: bolder;
	font-size: 1.125rem;
    margin-top: 0.31rem;
	padding-left: 1.06rem;
}
.textGenres {
	color: white;
	font-weight: bolder;
	font-size: 1.125rem;
    margin-bottom: 0.31rem;
	padding-left: 1.06rem;
	position: relative;
	height: 0%;

}
.texto{
	color: white;
	font-weight: bolder;
	margin-bottom: 0.31rem;
	margin-top: 0.31rem;
	font-size: 1.125rem;
	
}

.pform {
	display: flex;
	flex-direction: column;
	height: 25rem;
	width: 23.125rem;
	flex-wrap: wrap;
	margin-left: 0.81rem;
	padding-right: 0.31rem;
}

.gen {
	display: flex;
	flex-direction: column;
	height: 9.37rem;
	width: 23.125rem;
	flex-wrap: wrap;
	margin-left: 0.81rem;
}

.show {
	display: flex;
	width: 23.75rem;
	justify-content: space-between;
	/* text-align: center; */
}

.btnShow {
	background-color: transparent;
	border: 1px solid white;
	color: white;
	margin: 0.43rem 1.25rem;
	width: 1.25rem;
	height: 1.25rem;
	float: center;
}

.pictureContainer {
	display: flex;
	flex-direction: column;
	width: 23.125rem;
	align-content: space-around;
	margin-top: 0.62rem;
	padding-left: 1.25rem;
}

.pic {
	margin-right: 11.25rem;
}

.btnPic {
	display: flex;
	flex-direction: column;
	margin-top: 0.62rem;
	background-color: transparent;
	color: white;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 0.31rem 0.75rem;
    cursor: pointer;
	color: white;
}

::-webkit-file-upload-button {
	background: black;
	color: white;
	padding: 0.375rem;
	border: 1px solid white;
	cursor: pointer;
  }