.orderContainer {
    display: flex;
    color: white;
    font-size: 0.81rem;
}

.orderAlpha {
    margin-left: 1.25rem;
}

.selectAlpha{
    background-color: black;
    border-radius: 1.25rem;
    color: white;
    padding: 0.31rem;
}

.orderRating{
    margin-left: 1.25rem
}

.selectRating{
    background-color: black;
    border-radius: 1.25rem;
    color: white;
    padding: 0.31rem;
}