.gameDiv{
    display: flex;
    align-self: center;
    width: 750px;
    justify-content: space-around;
    margin: auto;
   
}


.videogame1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-self: center;
  }
  .divGame {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 210px;
    align-items: center;
    border: 1px solid #FFFFFF;
    border-radius: 20px;
    margin-bottom: 10px;
    margin: 5px;
  }

  .divGame:hover .genres {
    visibility: visible;
  }

  .divGame:hover{
    background-color: black;
    border-radius: 20px;
    box-shadow: 1px 1px white;
  }

  
  .divGame:hover .favVg{
    visibility: visible;
  }

  .btnBack{
    /* background-color: rgb(214, 148, 6); */
    background-color: transparent;
    color: #FFFFFF;
    border: 1px solid white;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
  }
  .btnNext{
    /* background-color: rgb(214, 148, 6); */
    background-color: transparent;
    color: #FFFFFF;
    border: 1px solid white;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    
  }
  .currentPage{
    /* background-color: rgb(214, 148, 6); */
    background-color: transparent;
    color: #FFFFFF;
    border: 1px solid white;
    border-radius: 20px;
    height: 30px;;
    font-weight: bold;
    margin: 1px;
    cursor: pointer;
  }

  .paginationBtns{
    padding-top: 15px;
    height: 50px;
    width: 25%;
    display: flex;
    margin: auto;
    justify-content: space-between;
  }

  .loading {
    position: relative;
    height: 50px;
    width: 50px;
    margin: 15% auto;
  }

  .range {
    background-color: transparent;
    color: #FFFFFF;
    border: 1px solid white;
    border-radius: 20px;
    height: 30px;;
    font-weight: bold;
    margin: 1px;
  }

  .current {
    background-color: rgb(214, 148, 6);;
    color: black;
    border: 1px solid white;
    border-radius: 20px;
    height: 30px;;
    font-weight: bold;
    margin: 1px;
  }

  .paginationBtns1 {
    display: flex;
    justify-content: space-between;
    margin: auto;
  }

  .loadContainer {
    display: flex;
    margin: auto;
  }

  /* .uniquePage {
    align-self: center;
  } */