.imgFav {
    height: 150px;
    width: 200px;
    padding: 10px;
    border-radius: 20px;
}

.favContainer {
    display: flex;
    flex-direction: column;
    width: 230px;
    border-radius: 20px;
    margin-bottom: 20px;
    align-items: center;
    color: white;
    border: 1px solid white;
    margin-left: 10px;
}

.favContainer:hover{
    background-color: black;
}

.favBtn {
    align-self: center;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 20px;
    background-color: rgb(128, 18, 18);
    color: white;
    border: none;
}

.favBtn:hover{
    background-color: rgb(95, 11, 11);
}

.divFavorite {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;

    ;
    margin-top: 50px;
    justify-content: space-evenly;

}

.divFavorite ul {
    display: flex;
    flex-wrap: wrap;
    width: 750px;
    justify-content: center;
    margin: auto;

}

.favTitle{
    color: white;
    text-decoration: none;
}

.genFav{
    color: white;
    visibility: hidden;
    font-size: 12px;
    font-weight: bold;
}

.favContainer:hover .genFav{
    visibility: visible;
}

.noFavorites {
    color: white;
}