.imgFav {
    height: 9.37rem;
    width: 12.5rem;
    padding: 0.62rem;
    border-radius: 1.25rem;
}

.favContainer {
    display: flex;
    flex-direction: column;
    width: 14.37rem;
    border-radius: 1.25rem;
    margin-bottom: 1.25rem;
    align-items: center;
    color: white;
    border: 1px solid white;
    margin-left: 0.62rem;
}

.favContainer:hover {
    background-color: black;
}

.favBtn {
    align-self: center;
    margin-bottom: 0.62rem;
    padding: 0.31rem;
    border-radius: 1.25rem;
    background-color: rgb(128, 18, 18);
    color: white;
    border: none;
}

.favBtn:hover {
    background-color: rgb(95, 11, 11);
}

.divFavorite {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 3.12rem;
    justify-content: space-evenly;

}

.divFavorite ul {
    display: flex;
    flex-wrap: wrap;
    width: 46.87rem;
    justify-content: center;
    margin: auto;

}

.favTitle {
    color: white;
    text-decoration: none;
}

.genFav {
    color: white;
    visibility: hidden;
    font-size: 0.75rem;
    font-weight: bold;
}

.favContainer:hover .genFav {
    visibility: visible;
}

.noFavorites {
    color: white;
}