.filtros{
	display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin: auto;
    font-size: 0.81rem;
}

.filterCreator{
    margin-left: 1.25rem;
}

.selectCreator{
    background-color: black;
    border-radius: 1.25rem;
    color: white;
    padding: 0.31rem;
}

.filterGenres{
    margin-left: 1.25rem
}

.selectGenres {
    background-color: black;
    border-radius: 1.25rem;
    color: white;
    padding: 0.31rem;
}