.cnt_land{
    height: 100vh;
   /* background: url('../../images/landing-image.jpg') no-repeat 100%;
    background-size: cover;*/
    display: flex;
    justify-content: center;
    align-items: center
  }
  .lndpage {
      text-align: center;
      font-size: 3.18rem;
  }
  
  .btnp{
    padding: 0.31em 1.25em;
    margin-left: auto;
    font-size:  25px;
    color: black;
    border-radius: 4em;
    transition: all 500ms ease;
    border: 2px solid black;
  
  }
  
  .btnp:hover {
  background: black;
  color: white;
  border: 2px solid white;
  }
  